* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/********************************** hamburger menu ****************************************************/
#submenu {
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: absolute;
  background-color: #00c8ff;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

}
html{
  overflow-x: hidden;
}
#submenu img {
  position: absolute;
  top: 5px;
  right: 25px;
  height: 70px;
}
#mini-ul {
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  margin-bottom: 30px;
}
.mini-link {
  color: white;
  text-decoration: none;
  margin: 20px;
}

/******************************************************* NavBar *****************************************************************/
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.nav-container {
  position: relative;
  width: 100%;
}
nav {
  display: flex;
  font-size: 1rem;
  backdrop-filter: blur(10px);
  padding: 0.8rem 0rem;
  background-color: transparent;
  flex-wrap: wrap;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav p {
  font-size: 2vw;
  font-weight: 500;
  color: rgb(30, 159, 171);
}
nav img {
  display: none;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list a {
  text-decoration: none;
  margin: 0px 15px;
  padding: 0px 15px;
  color: #444444;
}
.cv-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  font-size: 0.8rem;
}
.cv-button h3 {
  font-size: 0.8vmax;
  font-weight: 400;
}
.nav-button {
  background-color: #efefef;
  padding: 20px 20px;
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************** Hero Section ********************************/

.hero {
  padding-top: 6rem;
  padding-bottom: 5rem;
  padding-left: 4vw;
  display: flex;
  gap: 5vw;
  align-items: center;
  margin-top: 2em;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* border: 2px solid black; */
  gap: 2rem;
}
.hero-left h1 {
  font-size: 3rem;
}
.hero-left h2 {
  font-weight: 400;
  color: white;
  font-size: small;
  width: 5rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #c0a631;
  padding: 4px 0px;
}
.hero-left h1 span {
  color: rgb(30, 159, 171);
}
.hero-left p {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.3;
  color: #444444;
}
.hero-right {
  /* border: 2px solid black; */
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img {
  height: 300px;
  border-radius: 500px;
}
.button-flex {
  display: flex;
  gap: 1rem;
}

button {
  border: none;
  height: 2rem;
  padding: 0px 1rem;
  border-radius: 0.5em;
}
.socials {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}

i {
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 0.7rem;
  transition: 200ms;
  color: black;
}
i:hover {
  transform: scale(1.5);
  transition: 200ms;
}

/*************************************************** Projects Section *********************************************************************/

/************************************************************* SKILLS SECTION ********************************************************/

.about-me {
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.about-me img:nth-child(odd):hover {
  transform: rotate(30deg);
  transition: 200ms;
}
.about-me :nth-child(even):hover {
  transform: rotate(-30deg);
  transition: 200ms;
}
.about-me img {
  transition: 200ms;
}

.skills {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}

#get-in-touch {
  text-align: center;
  padding: 2rem 2rem;
  font-size: 2rem;
  font-weight: 600;
}

#h2-desc {
  text-align: center;
  padding-top: 1rem;
  font-size: large;
  font-weight: 400;
  color: rgb(131, 135, 135);
}

/*****************************************  Ending Section  *************************************************/

.contact-section {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  padding: 0rem 4rem;
  /* flex-wrap: wrap; */
}

.box-left {
  height: 75%;
  box-shadow: 8px 8px 10px rgba(172, 171, 171, 0.7);
  width: 35rem;
  background-color: #00c9ff;
  color: white;
  border-radius: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-1,
.flex-2,
.flex-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.flex-1 h2 {
  margin: 1rem;
}
.box-right {
  width: 35rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.85rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.top-two {
  display: flex;
  gap: 0.5rem;
}
.email,
.name {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1.5px solid grey;
  width: 100%;
  padding: 0.8rem;
}

textarea {
  border-radius: 0.8rem;
  border: 1.5px solid grey;
  padding: 1rem;
  height: 16rem;
  outline: none;
  resize: none;
}

::placeholder {
  color: #aaa;
  text-align: start; /* Ensure placeholder text starts from the beginning */
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  gap: 0.5rem;
  padding: 1.5rem 0rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

/********************************** Credit ****************************************************/

.credit {
  display: flex;
  padding: 5rem 4rem;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
}

.credit ul {
  display: flex;
  gap: 1.7rem;
}

/********************************** responsive ****************************************************/

#portfolio {
  width: 90%;
  margin: auto;
}

/********************************** tab view ****************************************************/
@media only screen and (max-width: 941px) {
  .hero-right img {
    height: 200px;
    border-radius: 500px;
  }
  .hero-left h1 {
    font-size: 2rem;
  }
  .hero-left p {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.3;
    color: #444444;
  }
  .carousel-item {
    width: 162px;
    height: 204px;
    box-shadow: 2px 2px 4px 1px rgba(217, 215, 215, 0.7);
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 500ms all;
    transition: 500ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
  }
  .carousel__container {
    white-space: nowrap;
    margin: 45px 0px;
    padding-bottom: 10px;
    display: inline-block;
  }
  .about-me {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .box-left {
    padding: 20px;
  }
}

@media only screen and (max-width: 590px) {
  .nav-list,
  .nav-button {
    display: none;
  }
  nav p {
    font-size: 24px;
    margin-left: 10%;
  }
  nav img {
    display: block;
    height: 24px;
    margin-right: 10%;
  }
  nav {
    justify-content: space-between;
  }
}
/********************************** phone view ****************************************************/
@media only screen and (max-width: 550px) {
  .hero {
    flex-direction: column-reverse;
    padding-top: 4rem;
    padding-bottom: 5rem;
    /* padding-left: 0vw; */
    display: flex;
    padding-left: 0;
  }
  .contact-section {
    display: flex;
    gap: 2rem;
    margin-top: 9rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: flex-start;
    height: 25rem;
    padding: 0rem 4rem;
    flex-direction: column-reverse;
    /* flex-wrap: wrap; */
  }
  .box-right {
    width: 23rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.85rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .box-left {
    height: 75%;
    box-shadow: 8px 8px 10px rgba(172, 171, 171, 0.7);
    width: 23rem;
    background-color: #00c9ff;
    color: white;
    border-radius: 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    gap: 0.5rem;
    padding: 1.5rem 0rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 63%;
  }
  .hero-right img {
    height: 250px;
    border-radius: 500px;
  }
  .hero-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 83%;
    /* border: 2px solid black; */
    gap: 2rem;
    text-align: center;
  }
  .hero-left h1 {
    font-size: 2.5rem;
  }
  .hero-left p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    color: #444444;
  }
  .button-flex button {
    width: 150px;
    font-size: 15px;
  }
  .contact-section {
    display: flex;
    /* gap: 2rem; */
    padding: 0;
    margin-top: 9rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    /* padding: 0rem 4rem; */
    flex-direction: column-reverse;
    /* flex-wrap: wrap; */
  }
  .box-left {
    width: 19rem;
  }
  textarea {
    width: 68%;
  }
  .top-two {
    display: flex;
    gap: 0.5rem;
    width: 80%;
  }
}
